<div *ngIf="!ordering" style="position: fixed; left:0; bottom: 0; z-index:1000; margin-bottom: 10vh" class="container-fluid row">

  <div class="col-4"></div>
  <div class="col-4" style="text-align: center">
    <p style="color:white"> 1280 Main Street West </p>
    <button type="button" class="btn btn-primary btn-lg" (click)="ordering=true">Begin Ordering</button>
    <p style="color:white"> Average wait time: 45 minutes </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row" style="background:#111; height: 100%;">


  <div *ngIf="ordering && !checkout" class="col-12 row text-white" style="background:#111; height: 15vh">

    <div class="col-4 text-center">
      <h3> Sort By </h3>
      <select class="form-control" [(ngModel)]="sortBy" (change)="changeSort()">
        <option *ngFor="let sort of sorts" [value]="sort">{{sort}}</option>
      </select>
    </div>

    <div class="col-4 text-white text-center">
      <h1 class="align-middle display-3"> 4HC3ats™ </h1>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-6 text-center p-1">
          <button [ngClass]="{'btn-secondary': tags.indexOf('halal') == -1, 'btn-primary': tags.indexOf('halal') != -1}" class="btn btn-lg btn-block"
            (click)="toggleTag('halal')">Halal</button>
        </div>
        <div class="col-6 text-center p-1" [ngClass]="{active: tags.indexOf('vegan') != -1}">
          <button [ngClass]="{'btn-secondary': tags.indexOf('vegan') == -1, 'btn-primary': tags.indexOf('vegan') != -1}" class="btn btn-lg btn-block"
            (click)="toggleTag('vegan')">Vegan</button>
        </div>
        <div class="col-6 text-center p-1" [ngClass]="{active: tags.indexOf('vegetarian') != -1}">
          <button [ngClass]="{'btn-secondary': tags.indexOf('vegetarian') == -1, 'btn-primary': tags.indexOf('vegetarian') != -1}"
            class="btn btn-lg btn-block" (click)="toggleTag('vegetarian')">Vegetarian</button>
        </div>
        <div class="col-6 text-center p-1" [ngClass]="{active: tags.indexOf('gluten-free') != -1}">
          <button [ngClass]="{'btn-secondary': tags.indexOf('gluten-free') == -1, 'btn-primary': tags.indexOf('gluten-free') != -1}"
            class="btn btn-lg btn-block" (click)="toggleTag('gluten-free')">Gluten-Free</button>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="ordering && !checkout" style="background: #111; height: 85vh" [ngClass]="{'d-none': selectedItem, 'col-3':selectedItem == undefined}">
    <!--<div *ngIf="ordering && !checkout" style="background: black; height: 100vh" [ngClass]="{'d-none': selectedItem, 'col-3':selectedItem == undefined}">-->
    <div class="text-center text-white" *ngIf="filteredRestaurants.length == 0">
      <h3> No Restaurants match criteria. </h3>
    </div>
    <div (click)="loadMenu(restaurant)" *ngFor="let restaurant of filteredRestaurants; let i = index" [attr.data-index]="i" class="card restaurantcard text-white bg-primary my-3 p-2"
      [ngClass]="{'bg-dark': selectedRestaurant != restaurant}">
      <div class="row">
        <div class="col-9 text-left">
          <h4> {{ restaurant.name }} </h4>
        </div>
        <div class="col-3 text-right">
          {{restaurant.showTags}}
        </div>
        <div class="col-6 text-left">
          {{ restaurant.money }}
        </div>
        <div class="col-6 text-right">
          🚚 {{ restaurant.deliveryTime }} minutes
        </div>
        <div class="col-6 text-left">
          {{ restaurant.rating }} ⭐
        </div>
        <div class="col-6 text-right">
          ${{ restaurant.deliveryFee }} Fee
        </div>
      </div>
    </div>
    <div style="height: 100%;"></div>
    <div id="checkoutBtn" #checkoutBtn *ngIf="selectedItem == null && cart.length > 0" class="btn btn-success col-11 align-middle text-center p-2"
      (click)="startCheckout(checkoutBtn)">
      <!--<div  #checkoutBtn *ngIf="selectedItem == null && cart.length > 0" class="btn btn-primary card align-middle text-center p-2" (click)="startCheckout(checkoutBtn)">-->
      <h4 class="">
        <span class="badge badge-pill badge-warning">🛒 {{cart.length}}</span> Checkout </h4>
      <!--<h4> 🛒 {{cart.length}} item(s) in cart, proceed to checkout. </h4>-->
    </div>
  </div>



  <div *ngIf="selectedRestaurant && !checkout" style="background: black; height: 85vh; overflow-y: scroll" class="col-9 text-white">

    <h1 class="display-3"> {{selectedRestaurant.name}} </h1>
    <h1 class="lead"> 1280 main street west </h1>

    <hr>
    <div class="text-white" *ngFor="let category of selectedRestaurant.menu; let i = index" [attr.data-index]="i">
      <h1 class="display-4"> {{category.title}}</h1>
      <div class="row">
        <div *ngFor="let item of category.items; let j = index" [attr.data-index]="j" class="col-4">
          <div class="card itemcard m-1 p-1 card text-white bg-primary" (click)="selectItem(item)" [ngClass]="{'bg-danger': !validItem(item), 'bg-dark': validItem(item) && (selectedItem == null || (selectedItem != null && selectedItem.name != item.name))}">
            <img [src]="item.imageSrc" class="menuImage rounded mx-auto d-block" alt="...">
            <div class="row">
              <div class="col-9">
                <h3> {{item.name}} </h3>
              </div>
              <div class="col-3">
                <h3 *ngIf="item.customize">⚙</h3>
              </div>
            </div>

            <p class="lead"> ${{item.basePrice}} </p>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div *ngIf="selectedItem" style="background: black; height: 85vh; overflow-y: scroll" class="col-3 text-white text-center">
    <h2>{{selectedItem.name}}</h2>
    <h3>Base Price: ${{selectedItem.basePrice}}</h3>
    <div *ngFor="let custom of selectedItem.customize; let i = index" [attr.data-index]="i">
      <div class="row">
        <div class="col-6 text-left">
          <h3> {{custom.name}} </h3>
        </div>

        <div class="col-6 text-right">
          <h3 *ngIf="custom.required"> Required</h3>
        </div>

      </div>
      <div *ngIf="custom.required" class="form-group">
        <div *ngFor="let option of custom.options; let j = index" [attr.data-index]="j" class="row">
          <div class="col-6 text-left inline-field">
            <h5>
              <input (change)="updateItem()" type="radio" [name]="i + 'op' + j" [(ngModel)]="custom.selected" [value]="option">
              <label>
                {{option.name}}
              </label>
            </h5>
          </div>
          <div class="col-6 text-right">
            <h3 *ngIf="option.price != 0"> {{getSign(option.price)}}${{abs(option.price).toFixed(2)}} </h3>
          </div>

        </div>
      </div>
      <div *ngIf="!custom.required" class="form-group">
        <div *ngFor="let option of custom.options; let j = index" [attr.data-index]="j" class="row">
          <div class="col-6 text-left inline-field">
            <h5>
              <input (change)="updateItem()" type="checkbox" [name]="i + 'op' + j" [(ngModel)]="option.enabled">
              <label class="checkbox-inline">
                {{option.name}}
              </label>
            </h5>
          </div>
          <div class="col-6 text-right">
            <h3 *ngIf="option.price != 0"> {{getSign(option.price)}}${{abs(option.price).toFixed(2)}} </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-left inline-field">
        <h5>
          <input class="form-control" type="text" style="width:100%" [(ngModel)]="selectedItem.notes">
          <br>
          <label>
            Driver notes.
          </label>
        </h5>
      </div>

      <div class="col-12 text-center p-1" [ngClass]="{active: itemIsValid()}">
        <button class="btn btn-primary btn-lg btn-block" (click)="addSelectedToCart()">Add to cart (${{selectedItem.finalPrice.toFixed(2)}})</button>
      </div>
      <div class="col-12 text-center p-1">
        <button class="btn btn-danger btn-lg btn-block" (click)="selectedItem = null">Discard Item</button>
      </div>
    </div>
  </div>
  <div #gmap id="map" [ngClass]="{'col-9': ordering, 'col-12' : !ordering, 'd-none' : selectedRestaurant}">

  </div>
  <div id="cart" #checkoutBtn style="width: 20%;" *ngIf="checkout && selectedItem == null && cart.length > 0" class="btn btn-success align-middle text-center p-2"
    (click)="startCheckout(checkoutBtn)">
    <!--<div id="cart" #checkoutBtn *ngIf="selectedItem == null && cart.length > 0" class="card align-middle text-center p-2" (click)="startCheckout(checkoutBtn)">-->
    <h4 class="">
      <span class="badge badge-success">🛒 {{cart.length}}</span>Checkout Now </h4>
    <!--<h4> 🛒 {{cart.length}} item(s) in cart, proceed to checkout. </h4>-->
  </div>

  <div *ngIf="checkout" class="col-9" style="height: 50vh">
    <h1 class="display-3 text-center text-white"> Food Cart </h1>
    <div class="row">
      <div *ngFor="let item of cart; let j = index" [attr.data-index]="j" class="col-4">
        <div class="card itemcard m-1 p-1 card text-white bg-dark" (click)="editCart(j)">
          <img [src]="item.imageSrc" class="menuImage rounded mx-auto d-block" alt="...">
          <div class="row">
            <div class="col-9">
              <h3> {{item.name}} </h3>
            </div>
            <div class="col-3">
              <h3 *ngIf="item.customize">⚙</h3>
            </div>
          </div>

          <p class="lead"> ${{item.finalPrice}} </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="checkout" class="col-3" style="height: 50vh">

  </div>
  <div *ngIf="checkout" class="col-6" style="height: 30vh">
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <h5>
            <label class="text-white">
              Payment Method
            </label>
          </h5>
        </div>
        <div class="col-6">
          <select class="form-control">
            <option> Card ending in 1234 </option>
            <option> Card ending in 5678 </option>
          </select>
        </div>
        <div class="col-6">
          <h5>
            <label class="text-white">
              Phone Number
            </label>
          </h5>
        </div>
        <div class="col-6">
          <input style="width: 100%" class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
        <div class="col-6">
          <h5>
            <label class="text-white">
              Special Instructions
            </label>
          </h5>
        </div>
        <div class="col-6">
          <input style="width: 100%" class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>