<mat-card class="screen-container" fxFlex="column" fxFlexAlign="center center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      {{title}}
    </mat-toolbar-row>
  </mat-toolbar>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin"></ngx-spinner>

  <div class="content-container">

    <!--<div class="form-container" fxLayoutAlign="space-between" fxLayout="column">-->
    <form class="form-container" [formGroup]="options">
      <mat-form-field>
        <!--<mat-select placeholder="Color" [formControl]="account" formControlName="color">-->
        <mat-select placeholder="From Account" label="Account" formControlName="toAccount">
          <mat-option *ngFor="let account of user.accounts" [value]="account.id">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div>{{account.type + ' '}}</div>
              <div>${{account.balance}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Amount" type="number" formControlName="amount" [matAutocomplete]="auto">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option [value]=100>100</mat-option>
        <mat-option [value]=500>500</mat-option>
        <mat-option [value]=1000>1000</mat-option>
        <mat-option [value]=5000>5000</mat-option>
        <mat-option [value]=10000>10000</mat-option>
      </mat-autocomplete>

    </form>

    <div id="controls">
      <button id="cancel" class="btn-hover" color="warn" mat-raised-button (click)="cancel()">Cancel</button>
      <button id="enter" class="btn-hover" color="primary" mat-raised-button (click)="enter()" >Enter</button>
    </div>
  </div>

</mat-card>
