$space: 36px;

#appContainer {
  height: 100vh;
  //height: 100%;
  width: 100vw;
}

#routerContent {
  border: 2px solid rgba(0, 0, 0, 0.64);
  //border: 2px solid #1bad97;
  //right: $space;
  //left: $space;
  //top: $space;
  //bottom: $space;

  //display: flex;
  //margin: $space;

  //min-height: 800px;
  //min-width: 1000px;

  //height: 804px;
  //width: 1004px;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  //padding: 16px;
  //margin-top: 26px;
  //background-color: ;
}

//.hidden-router {
//  flex: 1 1 auto;
//  display: flex;
//  overflow: hidden;
//}
