<!--<p>-->
  <!--top-bar works!-->
<!--</p>-->
<!--<mat-toolbar>-->
  <!--<mat-toolbar-row>-->
    <!--<a routerLink="/login">Login</a>-->
  <!--</mat-toolbar-row>-->
  <!--<mat-toolbar-row>-->
    <!--<a routerLink="/home">Home</a>-->
  <!--</mat-toolbar-row>-->
  <!--<mat-toolbar-row>-->
    <!--<a routerLink="/home/withdraw">Withdraw</a>-->
  <!--</mat-toolbar-row>-->
  <!--<mat-toolbar-row>-->
    <!--<a routerLink="/home/deposit">Deposit</a>-->
  <!--</mat-toolbar-row>-->
  <!--<mat-toolbar-row>-->
    <!--<a routerLink="/home/transfer">Transfer</a>-->
  <!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<mat-toolbar>
  <mat-toolbar-row>

    <button color="primary" mat-raised-button>Log Out</button>

  </mat-toolbar-row>
</mat-toolbar>

<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/home">Home</a>
  <a routerLink="/home/withdraw">Withdraw</a>
  <a routerLink="/home/deposit">Deposit</a>
  <a routerLink="/home/transfer">Transfer</a>
</nav>
