@import "~src/theme";

:host {
  justify-content: center;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
  //margin: 8px;
  //margin-bottom: 16px;
  padding: 0;
}

.screen-header {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 255, 0.1));
  //background-image: linear-gradient(45deg, rgba(white, .05) 0%, rgba(white, .2));
  //background-image: linear-gradient(45deg, rgba(mat-color($primary), .5) 0%, rgba(mat-color($primary), 1));
  background-color: mat-color($primary);
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-self: center;
  flex: 1;

  padding: 0;

  & > mat-toolbar > mat-toolbar-row {
    @extend .screen-header;
  }
}
.content-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px;

  height: 100%;
  & > :not(:last-child) {
    margin-bottom: .5em;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  //height: 100%;
  min-height: 50%;
  //min-height: 100px;



}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: auto;
  & > button {
    width: 120px;
    height: 48px;
    //margin-left: auto;
    //margin-top: auto;
  }

  & > :not(:last-child) {
    margin-right: .5em;
  }
}

mat-card {
  height: 100%;
  & > mat-toolbar {
    //margin-bottom: 12px;
  }
}

//#routerContent > bank-withdraw > mat-card > form > mat-form-field.mat-form-field.ng-tns-c6-18.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-hide-placeholder.ng-valid.mat-form-field-should-float.ng-touched.ng-dirty > div > div.mat-form-field-flex > div > span

//:host .bma-input-lable-font mat-form-field-flex > div > span {
:host .mat-form-field-label {
  font-size: 2.5vh;
}

//::ng-deep mat-form-field .mat-form-field-label {
//  font-size: 2.5vh;
//}
