<mat-card class="screen-container" fxFlex="column" fxFlexAlign="center center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      {{title}}
    </mat-toolbar-row>
  </mat-toolbar>

  <form class="form-container" [formGroup]="options">
    <mat-form-field>
      <!--<mat-select placeholder="Color" [formControl]="account" formControlName="color">-->
      <mat-select placeholder="From Account" label="Account" formControlName="fromAccount">
        <mat-option *ngFor="let account of user.accounts" [value]="account.id">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>{{account.type + ' '}}</div>
            <div>${{account.balance}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Amount" formControlName="amount">
    </mat-form-field>

  </form>

  <div id="controls">
    <button id="cancel" color="warn" mat-raised-button (click)="cancel()">Cancel</button>
    <button id="enter" color="primary" mat-raised-button (click)="enter()">Enter</button>
  </div>

</mat-card>
